# تجاهل مجلد البيئة الافتراضية
# نادیده‌گرفتن پوشه‌های محیط مجازی
venv/
VENV/
.venv/

# تجاهل ملفات بايثون المؤقتة
# نادیده‌گرفتن فایل‌های موقتی پایتون
__pycache__/
*.pyc

# تجاهل قاعدة البيانات
# نادیده‌گرفتن فایل پایگاه داده
*.sqlite3

# تجاهل ملفات الصور الكبيرة أو التجريبية إذا وجدت
# نادیده‌گرفتن تصاویر حجیم یا آزمایشی در صورت وجود
/media/
*.jpg
*.png

# تجاهل ملفات السجلات
# نادیده‌گرفتن فایل‌های گزارش (log)
*.log
